CREATE TABLE IF NOT EXISTS {{ item.table }} (c1 int);
DELIMITER $$
DROP PROCEDURE IF EXISTS prepare_data;
CREATE PROCEDURE prepare_data()
BEGIN
  DECLARE i INT DEFAULT 100;
  WHILE i < {{ item.random }} DO
    INSERT INTO {{ item.table }} (c1) VALUES (i);
    SET i = i + 1;
  END WHILE;
END$$
DELIMITER ;
CALL prepare_data();
DROP PROCEDURE IF EXISTS prepare_data;
