#jinja2: lstrip_blocks: "True"
filebeat.inputs:
{{ filebeat_input_config | to_nice_yaml(indent=2) }}


filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: false

setup.template.settings:
  index.number_of_shards: 2

setup.kibana:

output.elasticsearch:
  hosts:
  {% for elastic in groups['elastic'] %}
  - {{ elastic }}:9200
  {% endfor %}

processors:
  - add_host_metadata:
      when.not.contains.tags: forwarded
  - add_cloud_metadata: ~
  - add_docker_metadata: ~
  - add_kubernetes_metadata: ~
